<h1>Paiement de facture</h1>
<div id="sec">
  <h2>Paiement par référence</h2>
  <div class="paiement_par_reference">
    <figure><img src="../../../assets/ALCS.png" /></figure>
    <div>
      <label><strong>Créancier</strong></label>
      <p>ALCS</p>
    </div>
    <div>
      <label><strong>Créance</strong></label>
      <p>SIDACTION</p>
    </div>
    <div>
      <label><strong>Donateur</strong></label>
      <p>ANAS</p>
    </div>
  </div>
  <h2>Selectionnez pour payez</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>Don Sidaction</td>
        <td>10.00 DH</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Total</td>
        <td style="font-weight: bold">0.00 DH</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Valid</button>
  </div>
</div>
