<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center height-vh">
    <div class="col-lg-6 col-12">
      <div
        class="col-12 d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="main-heading">404</h1>
        <h2>We couldn't not find this link unfortunately.</h2>
        <div class="text-center mt-4 mb-5">
          <button class="btn btn-success px-3 mr-2">
            <i class="fas fa-hom"></i> Home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
