<div class="container">
  <div class="row mb-g3">
    <div class="col-lg-8">
      <div class="card dar">
        <div class="card-body">
          <form class="form" action="" accept-charset="YTF-8" method="post">
            <h1>Effectuer Un Paiment</h1>
            <hr />
            <br />
            <div *ngIf="this.creancier=='Redal'" class="form-text">Please enter your reference:</div>
            <input *ngIf="this.creancier=='Redal'"
              class="form-control"
              name="name"
              type="text"
              id="name"
              placeholder="reference"
            />
            <div *ngIf="this.creancier=='Amendis'" class="form-text">Please enter your reference:</div>
            <input *ngIf="this.creancier=='Amendis'"
              class="form-control"
              name="name"
              type="text"
              id="name"
              placeholder="reference"
            />
            <div *ngIf="this.creancier=='Maroc Telecom'" class="form-text">Please enter your Phone Number:</div>
            <input *ngIf="this.creancier=='Maroc Telecom'"
              class="form-control"
              name="name"
              type="text"
              id="name"
              placeholder="Phone Number"
            />

          

            <br />
            
            
           
            <button class="btn btn-success">Valider</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <img height="220" *ngIf="this.creancier=='Maroc Telecom'" src="../../../assets/images/iam.png" />
      <img height="250" *ngIf="this.creancier=='Redal'" src="../../../assets/images/Redal.jpeg" />
      <img height="300" *ngIf="this.creancier=='Amendis'" src="../../../assets/images/Amendis.png" />
 
    </div>
  </div>
</div>
