<mat-stepper [linear]="true" #stepper>
  <ng-template class="row" matStepperIcon="edit" aria-label="1">
    <mat-icon
      svgIcon="thumbs-up"
      aria-hidden="false"
      aria-label="thumbs up SVG icon"
    ></mat-icon>
  </ng-template>
  <mat-step [completed]="!isCompleted" label="Choose Your Provider">
    <div class="container">
      <app-facture-paiement></app-facture-paiement>
      <div class="text-center">
        <button
          mat-button
          matStepperNext
          class="btn btn-primary"
          [disabled]="isCompleted"
        >
          <img
            src="../../../assets/arrow.png"
            style="width: 40px; filter: invert(100)"
          />
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Pay!">
    <div class="container">
      <app-do-paiement></app-do-paiement>
      <div class="text-center">
        <button mat-button matStepperPrevious class="btn btn-primary">
          <img
            src="../../../assets/arrow.png"
            style="width: 40px; transform: scaleX(-1); filter: invert(100)"
          />
        </button>
        <button mat-button matStepperNext class="btn btn-primary">
          <img
            src="../../../assets/arrow.png"
            style="width: 40px; filter: invert(100)"
          />
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Facture">
    <div class="container">
      <app-paiement-slect></app-paiement-slect>
      <div class="text-center">
        <button mat-button matStepperPrevious class="btn btn-primary">
          <img
            src="../../../assets/arrow.png"
            style="width: 40px; transform: scaleX(-1); filter: invert(100)"
          />
        </button>
        <button mat-button matStepperNext class="btn btn-primary">
          <img
            src="../../../assets/arrow.png"
            style="width: 40px; filter: invert(100)"
          />
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirm</ng-template>
    <div class="container">
      <app-paiement-par-reference></app-paiement-par-reference>
      <div class="text-center">
        <button mat-button matStepperPrevious class="btn btn-primary">
          <img
            src="../../../assets/arrow.png"
            style="width: 40px; transform: scaleX(-1); filter: invert(100)"
          />
        </button>
        <button mat-button matStepperNext class="btn btn-primary">
          <img
            src="../../../assets/check.png"
            style="width: 53.6px; filter: invert(100)"
          />
        </button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
