/* .footer {
  color: #4575bc;
  font-weight: bold;
  font-size: 18px;
  bottom: 0;
  position: absolute;
  background-color: #e6e7e7;
} */
.footer {
  color: #e74c3c;
  font-weight: bold;
  font-size: 18px;
  bottom: 0;
  position: fixed;
  z-index: 10000;
  background-color: #20cfcf;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
}
