<div class="template">
  <form
    class="card mb-4 form"
    #myform="ngForm"
    (submit)="addBackOffice($event)"
    enctype="multipart/form-data"
  >
    <div class="card-header ass">
      <h4 class="card-heading">Add Client</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="mb-4">
            <label class="form-label">Phone</label>
            <input
              ngModel
              name="Phone"
              class="form-control"
              type="text"
              placeholder="Phone"
            />
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="mb-4">
            <label class="form-label">Email address</label>
            <input
              class="form-control"
              ngModel
              name="email"
              type="email"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="mb-4">
            <label class="form-label">First Name</label>
            <input
              class="form-control"
              ngModel
              name="FirstName"
              type="text"
              placeholder="First name"
            />
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="mb-4">
            <label class="form-label">Last Name</label>
            <input
              class="form-control"
              ngModel
              name="LastName"
              type="text"
              placeholder="Last Name"
            />
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="mb-4">
            <label class="form-label">Solde</label>
            <input
              class="form-control"
              ngModel
              name="Solde"
              type="number"
              placeholder="Solde"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <label class="form-label">Address</label>
            <input
              ngModel
              name="Address"
              class="form-control"
              type="text"
              placeholder="Home Address"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <label class="form-label">CIN</label>
            <input
              ngModel
              name="cin"
              class="form-control"
              type="text"
              placeholder="Cin"
            />
          </div>
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="mb-4">
            <label class="form-label">City</label>
            <input
              ngModel
              name="City"
              class="form-control"
              type="text"
              placeholder="City"
            />
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="mb-4">
            <label class="form-label">ZIP</label>
            <input
              ngModel
              name="Zip"
              class="form-control"
              type="number"
              placeholder="ZIP"
            />
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="mb-4">
            <label class="form-label">Country</label>
            <input
              ngModel
              name="Country"
              class="form-control"
              type="text"
              placeholder="Country"
            />
          </div>
        </div>

        <div class="col-md-12">
          <div class="mb-0">
            <label class="form-label">CIN</label>
            <div>
              <label for="upload" class="btn btn-primary task choix">{{
                this.nameImage
              }}</label>
              <input
                (change)="File($event)"
                id="upload"
                type="file"
                name="file"
                placeholder="Paste file url"
                required
              /><br />
              <img *ngIf="this.src != null" [src]="src" height="150" /><br />
              <i
                *ngIf="this.nameImage != 'choose file'"
                class="fas fa-trash"
                (click)="suprrimerPhoto()"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-primary task" type="submit">Update Profile</button>
    </div>
  </form>
</div>
