<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/images/bank2.png"
        class="d-block w-100 image"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="p">
          <a
            class="btn btn-primary"
            href="####"
            style="background-color: orangered"
            ><i class="fa-solid fa-circle-play"></i> Commencer</a
          >
        </div>
      </div>
    </div>
    <div class="carousel-item am">
      <img
        src="../../../assets/images/Bank.png"
        class="d-block w-100 image"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="p-btn">
          <p class="para">
            <span
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
              beatae eius, vel error, ducimus magni eaque aperiam accusantium
              fugit quod excepturi? Ipsum ab numquam mollitia, ut nam doloremque
              cumque exercitationem?
            </span>
          </p>

          <a
            class="btn btn-primary"
            href="####"
            style="background-color: orangered"
            ><i class="fa-solid fa-circle-play"></i> Commencer</a
          >
        </div>
      </div>
    </div>
    <div class="carousel-item am">
      <iframe
        class="image couleur"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.5411305445214!2d-8.022776185000767!3d31.646411981328153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafef65ca3de9bb%3A0x3ea5cfd960dd861d!2sENSA%20MARRAKECH!5e0!3m2!1sfr!2sma!4v1654352593327!5m2!1sfr!2sma"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="carousel-caption d-none d-md-block"></div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
