.para {
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.image {
  height: 38vw;
  width: 70vw;
}
.couleur {
  filter: invert(100%);
  width: 100vw;
}
.p-btn {
  margin-bottom: 10%;
}

.blur-image {
  filter: blur(7px);
}
