.card {
  background-color: #6bcab7;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #0d4598;
  border-radius: 50%;
  display: inline-block;
}

.items-with-white-color {
  color: white;
}

.dot:hover {
  background-color: #4575bc;
  cursor: pointer;
}
.social-icons {
  list-style: none;
  display: inline-flex;
  right: 16px;
  position: relative;
}

.social-icons li {
  padding: 10px;
}

.social-icons li i {
  line-height: 50px;
  position: relative;
  font-size: 20px;
  color: #fff;
}

.form-text-color {
  color: #0d4598 !important;
}

.input-group-text {
  border: none;
  background-color: #0d4598;
  color: white;
}
/* .input-group {
  border: 2px solid #ffcd78;
}

.input-group:focus {
  box-shadow: none;
  border: 2px solid #0d4598;
} */

.register {
  text-decoration: underline;
}

.btn {
  background-color: #0d4598;
  color: #fff;
  border: none;
  height: 45px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #4575bc;
  /* background: linear-gradient(to right, #5fc3e4 0%, #e55d87 100%); */
}

.btn:focus {
  box-shadow: none;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
.error-text {
  padding: 5px;
  margin: 2px;
}
