<div class="list-group rounded-0">
    <div
      class="list-group-item border-start-0 border-end-0 py-5 border-top-0"
    >
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img
            class="avatar avatar-lg p-1"
            src="../../../../assets/images/iam.png"
            alt="Jassa Rich"
          />
        </div>

        <div class="flex-grow-1 ps-3">
          <strong><i class="fas fa-calendar"> </i> </strong>
          <span class="flex-grow-1 text-md text-muted me-4">
            <strong> 13/11/2022 </strong>
          </span>
          <small class="float-right">(10 mins ago) </small>
          <h5 class="fw-bold mt-2">Maroc Telecom</h5>
          <div class="text-muted text-sm">Internet et Mobile</div>

          <div class="d-flex mt-4">
            <div class="flex-shrink-0">
              <img
                class="avatar avatar-md p-1"
                src="../../../../assets/images/bill.jpeg"
                alt="Tony O'Brian"
              />
            </div>
            <div class="flex-grow-1 ps-3 text-sm text-muted">
              <strong class="text-dark">Price: </strong> 200$
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-group-item border-start-0 border-end-0 py-5">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img
            class="avatar avatar-lg p-1"
            src="../../../../assets/images/Lydec.png"
            alt="Jassa Rich"
          />
        </div>
        <div class="flex-grow-1 ps-3">
          <small class="float-right">34 mins ago</small>
          <h5 class="fw-bold">Lydec</h5>
          <div class="text-muted text-sm">
            U just paid the facture of the water
          </div>
        </div>
        <div
          class="text-end pt-3 pr-3 text-lowercase text-md font-weight-bold"
        >
          <strong><i class="fas fa-calendar"> </i> </strong>
          13/11/2022
        </div>
      </div>
    </div>
    <div class="card-footer p-4 text-center">
      <button
        class="btn btn-primary"
        routerLink="/client/addPayment"
      >
        <i class="fas fa-plus px-2"></i> Add Facture
      </button>
    </div>
  </div>
