<!-- <section>
				<div class="container">
					<h1>about us</h1>
					<h3>EnsaPay, an other experiance</h3>
					<div class="img-about">
						<img src="../../../assets/images/about.png">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam non. Varius duis at consectetur lorem donec massa sapien faucibus. At risus viverra adipiscing at in. In nibh mauris cursus mattis molestie a. </br>Sed risus pretium quam vulputate. Netus et malesuada fames ac. Eget arcu dictum varius duis at. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Risus sed vulputate odio ut enim. Quam adipiscing vitae proin sagittis nisl rhoncus. Eget nulla facilisi etiam dignissim diam quis enim lobortis.</p>
					<div class="social">
						<a href=""><i class="fa-brands fa-facebook-f"></i></a>
						<a href=""><i class="fa-brands fa-twitter"></i></a>
						<a href=""><i class="fa-brands fa-instagram"></i></a>
					</div>
				</div>
			</section> -->
<div class="row d-flex justify-content-center align-items-center mt-4 p-3 mb-5">
  <div class="col-lg-12 col-xl-11">
    <div class="card text-black" style="border-radius: 25px">
      <div class="card-body p-md-5">
        <div class="row justify-content-center align-items-center">
          <div
            class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
          >
            <img
              src="../../../assets/images/bank.jpg"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
            <h1 class="text-center h1 fw-bold mb-2 mx-1 mx-md-4 mt-4">
              About us
            </h1>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
              </div>
              <div class="divider-custom-line"></div>
            </div>
            <h3 class="text-center h3 fw-bold mb-2 mx-1 mx-md-4 mt-4">
              EnsaPay, an other experience
            </h3>

            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            </p>
            <form class="mx-1 mx-md-4">
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button
                  type="button"
                  class="btn btn-primary btn-lg btn-login"
                  routerLink="/contactUs"
                >
                  Contact us
                </button>
              </div>
              <div class="social">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
