<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      .logo {
        margin-left: 2rem;
      }
      .sign {
        width: 30rem;
        margin-left: 70%;
      }
      .sign ul li {
        margin-left: 3rem;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="logo navbar-brand" href="#">OurApp</a>
      <div class="sign collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/signinpage"
              routerLinkActive="active"
              ><i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;
              Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/signuppage"
              routerLinkActive="active"
              >Sign Up</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </body>
</html> -->

<app-header></app-header>
<router-outlet> </router-outlet>
<app-sponsors></app-sponsors>
<app-footer></app-footer>
