<div class="container">
  <div class="row mb-g3">
    <div class="col-lg-8">
      <div class="card dar">
        <div class="card-body">
          <form class="form" action="" accept-charset="YTF-8" method="post">
            <h1>Effectuer Un Paiment</h1>
            <hr />
            <br />
            <div class="form-text">Please enter your Name:</div>
            <input
              class="form-control"
              name="name"
              type="text"
              id="name"
              placeholder="Nom et Prénom Du Donnateur"
            />

            <br />
            <div class="form-text">Please enter the amount:</div>
            <input
              class="form-control"
              name="amount"
              type="text"
              id="amount"
              placeholder="Montant en DH"
            /><br />
            <button class="btn btn-warning" (click)="fct1()">Annuler</button>
            <button class="btn btn-success">Valider</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="../../../assets/ALCS.jpg" />
    </div>
  </div>
</div>
