<section class="container-row" style="display: flex;">
    <div style="width: 500px;" class="fr"> 
        <div style="display: block;">
        <div style="display: flex;">
            <div style="display: block; margin-left:35px; width:400px;">
           <h3>votre email est</h3>
            
            <h3>mot de passe</h3>
           
        </div>

        <div style="display: block; margin-left:35px; ">
            <input placeholder="email">
            <input placeholder="mot de passe">
           
        </div>
        </div>
        <h2 style="color: red; font-size: 15px;margin-top: 30px;margin-left: 80px;">!!please change your password</h2>
    </div>
    <button style="margin-top:20px;margin-left:280px;background-color:#19aa8d;color: white;border: none;border-radius: 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal"> change password</button>
    </div>
   <app-agent-pagination></app-agent-pagination>
    </section>

   
    <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="display: block;">
            <div style="display: flex;">
            <div style="display: block; margin-left:35px; width:400px;">
           <h3> Ancien mot de passe</h3>
            
            <h3>Nouveau mot de passe</h3>
            <h3>Conffirmer</h3>
        </div>

        <div style="display: block; margin-left:35px; ">
            <input placeholder="Ancien mot de passe">
            <input placeholder="Ancien mot de passe">
            <input placeholder="Ancien mot de passe">
        </div>
    </div>
        
            <div class="modal-footer" style="display: flex;">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">changer mot de passe</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">annuler</button>
              </div>
              </div>
              </div>
              </div>
              </div>
            
           

