/* .navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #19aa8d;
}

.navbar-toggler {
  background: #4575bc;
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 10px;
}

.navbar-expanded-lg .navbar-nav .nav-link {
  padding: 2rem 1.2rem;
  font-size: 1.4rem;
  position: relative;
}

.navbar-expanded-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #4575bc;
}

.navbar-expanded-lg .navbar-nav .nav-link:active {
  border-top: 4px solid #4575bc;
  color: #4575bc;
}

.navbar-nav button {
  padding: 1.2rem 0;
}

.navbar-nav .btn {
  background-color: #19aa8d;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 0;
  font-size: 1.2rem;
  margin-top: -10px;
}

.navbar-nav .btn:hover {
  background-color: #0a3d62;
}

#container {
  position: fixed;
  top: 140px;
  left: 0px;
  padding: 0px;
  list-style: none;
  z-index: 1;
}
#container li a {
  display: block;
  text-decoration: none;
  color: white;
}
#container li a span {
  display: block;
  max-width: 40px;
  padding: 10px;
  transition: all 0.2 ease-in-out;
}
#container li a:hover span {
  background: rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #e6e7e7;
  color: white;
}
.title {
  color: #4575bc;
  font-size: 30px;
}

.navbar-items-color {
  color: white;
} */

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}
.navbar .navbar-brand a:hover {
  color: #0a3d62;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #e74c3c;
}
.navbar-brand:hover {
  color: #0a3d62;
}

.navbar-toggler {
  background: #e74c3c;
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 10px;
  margin-left: 10px;
}

.navbar-expanded-lg .navbar-nav .nav-link {
  padding: 2rem 1.2rem;
  font-size: 1.4rem;
  position: relative;
}

.navbar-expanded-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #e74c3c;
}

.navbar-expanded-lg .navbar-nav .nav-link:active {
  border-top: 4px solid #e74c3c;
  color: #e74c3c;
}

.navbar-nav button {
  padding: 1.2rem 0;
}

.navbar-nav .btn {
  background-color: #e74c3c;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 0;
  font-size: 1.2rem;
  margin-top: -10px;
}

.nav-item > .nav-link:hover {
  color: #e74c3c;
}

.navbar-nav .btn:hover {
  background-color: #0a3d62;
}

#container {
  position: fixed;
  top: 140px;
  left: 0px;
  padding: 0px;
  list-style: none;
  z-index: 1;
}
#container li a {
  display: block;
  text-decoration: none;
  color: white;
}
#container li a span {
  display: block;
  max-width: 40px;
  padding: 10px;
  transition: all 0.2 ease-in-out;
}
#container li a:hover span {
  background: rgba(0, 0, 0, 0.2);
}

.dropdown-item:hover {
  color: #e74c3c;
  background: transparent;
}
