<!-- <h1>Our Sponsors</h1>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img
        src="../../../assets/images/Lydec.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/iam.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Amendis.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Lydec.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/iam.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Amendis.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Lydec.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/iam.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Amendis.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Lydec.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/iam.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Amendis.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Lydec.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
  </div>
</div>

 -->
<h2
  class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5"
>
  Our Sponsors
</h2>
<!-- Icon Divider-->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
  <div class="divider-custom-line"></div>
</div>
<marquee behavior="scroll" direction="" scrollamount="30">
  <div class="d-flex">
    <div class="slide">
      <img
        src="../../../assets/images/Amendis.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/Redal.jpeg"
        height="100"
        width="250"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="../../../assets/images/iam.png"
        height="100"
        width="250"
        alt=""
      />
    </div>
  </div>
</marquee>
<div class="my-3"></div>
