<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form" *ngIf="forme">
  <form action="/examples/actions/confirmation.php" method="post">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account!</p>
    <hr />
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          required="required"
          formControlName="nom"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email Address"
          required="required"
          formControlName="email"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required="required"
          formControlName="password"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
          <i class="fa fa-check"></i>
        </span>
        <input
          type="password"
          class="form-control"
          name="confirm_password"
          placeholder="Confirm Password"
          required="required"
          formControlName="confirm_password"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="checkbox-inline"
        ><input type="checkbox" formControlName="accept" required="required" />
        I accept the <a href="#">Terms of Use</a> &amp;
        <a href="#">Privacy Policy</a></label
      >
    </div>
    <div class="form-group">
      <button (click)="onsave()" type="submit" class="btn btn-primary btn-lg">
        Sign Up
      </button>
    </div>
  </form>
  <div class="text-center">
    Already have an account? <a routerLink="/loginAgent">Login here</a>
  </div>
</div>
