.template {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  height: 50vw;
}
.ass {
  text-align: center;
  background-color: #e74c3c;
  font-weight: bolder;
  border-radius: 1.875rem 1.875rem 0 0;
  color: white;
}
.form {
  box-shadow: 0 0 0.4375rem black;
  border-radius: 1.875rem;
}
.task {
  border-radius: 1.25rem;
}

.choix {
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
  text-transform: capitalize;
}
#upload {
  display: none;
}
@media only screen and (max-width: 60px) {
  .card {
    width: 80%;
  }
  .template {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  app-sponsors {
    display: none;
  }
}
.cin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cin {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa-trash {
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
  margin-bottom: -8px;
}
