.template {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50vw;
}
.ass {
  text-align: center;
  background-color: #e74c3c;
  font-weight: bolder;
  border-radius: 30px 30px 0 0;
  color: white;
}
.form {
  box-shadow: 0 0 7px black;
  border-radius: 30px;
}
.task {
  border-radius: 20px;
}

.choix {
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
  text-transform: capitalize;
}
#upload {
  display: none;
}
